// Our services start

.our_services{
    position: relative;
    margin-bottom: 60px;

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        margin-top: 35px;
    }

    &__item{
        @include fiximg(100%,350px,true);
        @extend%transition;
        position: relative;
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        img{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color:#034db493;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    &__title__h3{
        @include fontAll(24px,400,#fff);
        line-height: 120%;
        text-align: center;
        padding-bottom: 30px;
        border-bottom: 1px solid #034cb4b5;
    }

    &__link{
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        @extend%transition;
        text-align: center;
        box-shadow: inset 0 0 0 2px #e9af25;
        background: transparent;
        @include fontAll(16px,400,#e9af25);
        line-height: 100%;
        overflow: hidden;
        border-radius: 0.25rem;
        position: relative;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &::before {
            content: "";
            @extend%transition;
            display: block;
            width: 150%;
            height: 0;
            background: #f6d9d1;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
            -o-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        }

        &:hover{
            &::before {
            height: 450%;
            }
            color:#fff;
        }
    }
}

.our_services__item:hover > .our_services__link {
    padding: 20px 40px;
    width: auto;
    height: auto;
    opacity: 1;
    overflow: hidden;
    margin-top: 30px;
    @extend%transition;
}

// Our services end

// our_services_in start

.our_services_in{
    position: relative;
    margin-bottom: 60px;

    &__img{
        @include fiximg(300px,200px,true);
        margin-top: 30px;
    }

    &__item{
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    &__title{
        padding-bottom: 20px;
        border-bottom:1px solid $text;
        @include fontAll(36px,400,$text);
        line-height: 130%;
    }

    &__cart__img{
        @include fiximg(100%,auto,true);
        margin-bottom: 30px;
        max-height: 500%;

        img{
            max-height: 500px;
        }
    }
}

// our_services_in end


@media (max-width:1150px){
    .our_services__title__h3 {
        font-size: 22px;
    }

    .our_services_in__title{
        font-size: 30px;
    }
}

@media (max-width:1000px){
    .our_services__title__h3 {
        font-size: 20px;
    }

    .our_services__list{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .our_services_in__title{
        font-size: 28px;
    }
}

@media (max-width:750px){
    .our_services__title__h3 {
        font-size: 18px;
    }

    .our_services__list{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .our_services__item:hover > .our_services__link{
        padding: 15px 30px;
    }

    .our_services_in__cart__img img {
        max-height: 400px;
    }

    .our_services_in__title{
        font-size: 26px;
    }

    .our_services_in__item {
        float: inherit;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .our_services_in__img{
        width: 100%;
        height: auto;
    }

    .our_services_in__img img{
        max-height: 400px;
    }
}

@media (max-width:500px){
    .our_services__item {
        height: 280px;
    }

    .our_services_in__title{
        font-size: 24px;
    }
}